NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBKLoZ1QkuM2TGzwsaOp-GVQ5CKlCS3lu8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=bhaktisetu-e0e1a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=bhaktisetu-e0e1a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=bhaktisetu-e0e1a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=415010856816
NEXT_PUBLIC_FIREBASE_APP_ID=replace-with-web-app-id-from-firebase-console
